@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
body {
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 0px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}
.theme-dark{
	--background-primary: #191724;
	--background-secondary:#232136;
	--color-accent:#d7827e;
	--color-accent-1:#c4a7e7;
	--color-accent-2:#56526e;

	--color-red-rgb:rgb(235, 111, 146);
	--color-red:#eb6f92;
	--color-orange-rgb:rgb(215, 130, 126);
	--color-orange:#d7827e;
	--color-yellow-rgb:rgb(246, 193, 119);
	--color-yellow:#f6c177;
	--color-cyan-rgb:rgb(156, 207, 216);
	--color-cyan:#9ccfd8;
	--color-blue-rgb:rgb(49, 116, 143);
	--color-blue:#31748f;
	--color-purple-rgb:rgb(144, 122, 169);
	--color-purple:#907aa9;
	--color-pink-rgb:rgb(196, 167, 231);
	--color-pink:#c4a7e7;
	--text-highlight-bg-rgb: var(--color-red-rgb);
	--text-highlight-bg:var(--color-red-rgb);
}
.theme-light{
	--background-primary: hsl(0, 0%, 90%);
	--background-secondary:hsl(0, 0%, 95%);
	--color-accent-1:#c4a7e7;
	--color-accent-2:#56526e;
}
.inline-title:not([data-level]){
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: #e0def4;
}
.cm-line{
	font-family: "JetBrains Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
	letter-spacing: -0.015em;
	color: #e0def4;
}
.cm-em{
	font-family: "JetBrains Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	letter-spacing: -0.015em;
	color: #e0def4;
}
.view-header-title{
	font-family: "JetBrains Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	letter-spacing: -0.015em;
	color: #e0def4;
}
.workspace-drawer-vault-name{
	font-family: "JetBrains Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	letter-spacing: -0.015em;
	color: #e0def4;
}
.cm-header{
	font-family: "JetBrains Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	letter-spacing: -0.015em;
}
.cm-striketrough{
	font-family: "JetBrains Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	letter-spacing: -0.015em;
}
p{
	font-family: "JetBrains Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	letter-spacing: -0.015em;
}
h1{
	font-family: "JetBrains Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	letter-spacing: -0.015em;
}
li{
	font-family: "JetBrains Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	letter-spacing: -0.015em;
}
.nav-files-container{
	background-color: var(--background-primary);
}
.workspace-ribbon{
	background-color: var(--background-primary);
}
.nav-header{
	background-color: var(--background-primary);
}
.workspace-sidedock-vault-profile{
	background-color: var(--background-primary);
}
.workspace-tab-header-container{
	background-color: var(--background-primary);
}
.sidebar-toggle-button{
	background-color: var(--background-primary);
}
.callout{
	background-color: var(--color-blue);
}
.cm-hmd-codeblock{
	font-family: "Fira Code", monospace;
  	font-optical-sizing: auto;
 	font-weight: 500;
  	font-style: normal;
}


svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}
